* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  padding: 0;
  margin: 0px;
}

/* Nav-Bar Style CSS Start*/


nav{
  display: flex;
  width: 100%;
  background: #1C2A4F;
  justify-content: space-between;
  text-align: center;
  padding: 15px 30px;
}

/* nav {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #1c2a4f;
  justify-content: space-between;
} */

.nav-header {
  margin-left: 35px;
  margin-right: 35px;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
}

.header-title {
  width: 201px;
  margin-right: 117px;
}

.col-left-all {
  display: flex;
}

.header-title .upper-header {
  height: 24.83px;
  width: 201.73px;
  margin-top: 19px;
}

.header-title .down-header {
  height: 9px;
  width: 150px;
  margin-left: 51px;
}

nav .header-title p {
  color: #f57c00;
  margin-top: 2px;
  margin-left: 50px;
  font-size: 9px;
}

.search-box {
  margin-top: 26px;
  margin-right: 15px;
}

.search-box > i {
  display: none;
}

.collapse {
  display: flex;
  width: 96%;
}

.collapse ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.collapse ul li a {
  color: white;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 25px;
}

/* .collapse ul li:last-child {
  margin-right: 16px;
} */

.cart {
  margin-left: -10px;
  margin-right: 15px;
}

.search {
  border: 0;
  /* background-image: url("../images/Search.jpg");
  background-repeat: no-repeat;
  background-position: 8px 7px; */
  width: 458px;
  height: 30px;
  padding: 4px 10px 6px 35px !important;
  border-radius: 30px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #243c6e;
}

.collapse .end-part {
  display: flex;
  align-items: center;
  gap: 2px;
}

/* .collapse div {
  margin-right: 5px;
} */

.collapse .log-btn {
  color: white;
  font-size: 13px;
  line-height: 15.6px;
  padding: 7px 12px !important;
  background-color: #f57c00;
  height: 30px;
  border-radius: 3px;
  border: none;
  align-items: center;
  background-color: #f57c00;
  margin-left: 15px;
  cursor: pointer;
}

.collapse .reg-btn {
  font-size: 13px;
  line-height: 15.6px;
  padding: 7px 10px !important;
  height: 30px;
  border-radius: 3px;
  border: none;
  align-items: center;
  background-color: #f2f2f2;
  /* margin: 0px 8px 0px 12px; */
  cursor: pointer;
}

.collapse .dropbtn {
  background-image: url("../images/boy-logo.png");
  background-repeat: no-repeat;
  background-position: 9px 5px;
  border-radius: 50px;
  background-size: auto;
  height: 19px;
  width: 19px;
  /* background-color: #1c2a4f; */
  padding: 16px;
  border: none;
  cursor: pointer;
}

.collapse .dropdown {
  position: relative;
  display: inline-block;
  display: none;
}

.collapse .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.collapse.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

.collapse .show {
  display: block;
}

/* Nav-Bar Style CSS End */

/* Main-Body */

.main-body {
  margin: 51px auto 0px auto;
  width: 1114px;
  /* margin-bottom: 134px; */
}

.main-body-heading h3 {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-width: 2.5px;
  width: fit-content;
}

.main-body .main-body-heading h4 {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 20px;
}

.main-body-text p {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  color: #4f4f4f;
}

/* MORE-NEWS */

.holding-more-news h1 {
  color: #828282;
  text-align: center;
  font-size: 40px;
  margin-top: 75px;
  line-height: 48px;
  font-weight: 700;
  font-weight: bold;
}

.holding-more-news h1 span {
  color: #013a6d;
}

.holdingimage {
  width: 100%;
  display: flex;
  height: 313px;
  box-sizing: border-box;
  gap: 23px;
  border-radius: 25%;
  margin-top: 39px;
  justify-content: space-between;
}

.internalimageL {
  height: 313px;
  width: 546px;
}
.holdingimage h3 {
  padding: 10px;
  border: 1px solid #f2f2f2;
}

.internalimageL .image {
  height: 255px;
  width: 546px;
}

.internalimageL .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.internalimageL .title {
  height: 58px;
  width: 546px;
  font-size: 20px;
  line-height: 19px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #4f4f4f;
  /* margin-top: 58px; */
  padding: 9px 18px;
  display: flex;
  align-items: center;
  background: #ffffff;
  /* Gray 6 */

  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}

.internalimageL img {
  width: 100%;
}

.internalimageR img {
  width: 100%;
}

.internalimageR {
  height: 313px;
  width: 546px;
}

.internalimageR .title {
  height: 58px;
  width: 546px;
  font-size: 20px;
  line-height: 19px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #4f4f4f;
  padding: 9px 18px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}

.internalimageR .image {
  height: 255px;
  width: 546px;
}

.internalimageR .image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

/* Subscribe-Section Stats */

.subscribe {
  height: 479px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-section {
  display: flex;
  background-image: url("../images/new-background-image.png");
  border-radius: 12px;
  width: 1179px;
  height: 284px;
  background-size: cover;
  align-items: center;
  padding: 20px;
}

.subscribe-section-left-side {
  height: 343px;
  width: 236.5px;
}

.subscribe-section-left-side img {
  margin: -40px 0px 0px 7px;
  width: 100%;
  height: 100%;
}

.subscribe-section-right-side {
  margin-left: 88.11px;
  width: 580.44px;
  height: 172.77px;
  top: 133.23px;
  color: white;
}

.subscribe-section-right-side-input {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
}

/* Subscribe image */

.input-block {
  position: relative;
}

.input-block .send-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.input-block input {
  border: none !important;
  border-bottom: 1px solid #fff !important;
  padding: 5px 0px;
  position: absolute;
  width: 580.44px;
  color: white;
  height: 24px;
  outline: none !important;
  background-color: transparent;
}

.form-input {
  border-bottom: 1px solid black;
  margin-top: 5px;
}

.send-button {
  position: absolute;
  right: 0;
  align-items: center;
}

.input-checkbox-block {
  display: flex;
  margin-top: 30px;
  align-items: baseline;
  float: left;
}

.input-checkbox-block span {
  font-size: 15px;
}

/* Yellow Header */

.eyecatch {
  width: 100%;
  height: 222px;
  background: linear-gradient(82.64deg, #f8c300 0%, #ffc900 97.73%);
}

.block {
  width: 385px;
  height: 86px;
  margin-left: 140px;
  padding-top: 57px;
}

.title {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
  color: #243c6e;
  margin-bottom: 8px;
}

.title span {
  font-weight: 1500;
}

.description {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #243c6e;
}

/* Middle-Image Starts*/

.middle-image {
  background-color: #243c6e;
  height: 164px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.middle-image .middle-text {
  padding: 46px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  text-align: center;
}

.middle-image .middle-text h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #f2f2f2;
  margin-top: 7px;
}

.middle-text h1 {
  color: #ffff;
  font-weight: 900;
  font-size: 35px;
  line-height: 42px;
}

/* Middle-Image Starts*/

/* Footer Design Starts */

.footer {
  background-color: #f8f8f8;
  padding: 30px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin: 10px;
  width: 1015px;
  margin-left: 104px;
}

.row {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.footer-col h4 {
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 23px;
  color: #243c6e;
  text-transform: capitalize;
  margin-bottom: 10.47px;
}

.footer-col ul li {
  margin-bottom: 12px;
}

.footer-col ul li a {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #243c6e;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #243c6e;
  transition: all 0.2s ease;
}

/* Footer-Middle */

.mid-footer {
  color: #243c6e;
  margin-top: 52px;
  margin-bottom: 41px;
  font-size: 15px;
  line-height: 18px;
}

/* End-Footer */

.social-links a {
  display: inline-block;
  padding-right: 10px;
}

.social-links a .fa-facebook-f {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 60%;
}

.social-links a .fa-linkedin-in {
  color: white;
  background-color: #007ab9;
  padding: 10px;
  border-radius: 60%;
}

.social-links a .fa-twitter {
  color: white;
  background-color: #55acee;
  padding: 10px;
  border-radius: 60%;
}

.logos {
  width: 567px;
  height: 49px;
  display: flex;
  margin-top: 9px;
  margin-bottom: 42px;
}

.logos img {
  height: 40px;
  width: 90px;
  margin-top: 10px;
}

.logos .ssl {
  width: 250px;
}

.end-footer {
  display: flex;
  justify-content: space-between;
  margin-left: 104px;
  margin-right: 105px;
}

.end-footer .social-links {
  margin-top: 14px;
}

.get-social-links {
  width: 360px;
  height: 64.79px;
}

.copy-right {
  height: 41px;
  display: flex;
  background: #243c6e;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 100px;
}

.copy-right .right {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.copy-right .left {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

/* Nav-Bar */

/* @media (min-width: 375px) and (max-width: 768px) {
  nav {
    display: inline-flex;
    padding: 0;
  }
  nav ul li a {
    display: none;
  }

  nav .btn {
    margin: 5px;
  }

  nav .icon {
    width: 137px;
  }

  .search-box .search {
    display: none;
  }

  .search-box {
    margin-top: 26px;
    margin-right: 13px;
  }

  .search-box > i {
    display: block;
    height: 30px;
    width: 29px;
    font-size: 20px;
    background-image: url("../images/new-search.png");
    background-repeat: no-repeat;
    background-position: 9px 7px;
  }

  .nav .search-box {
    background-color: green;
    background: grey;
    color: hotpink;
  }

  .cart {
    display: none;
  }

  .eyecatch {
    width: 100%;
    height: 155px;
  }

  .main-body-heading {
    width: 100%;
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;
    color: #4f4f4f;
    height: 112px;
    margin-left: 26px;
    width: 333px;
    margin-bottom: 12px;
  }

  .coder-image {
    width: 323px;
    height: 146px;
    margin-left: 26px;
    margin-bottom: 16px;
  }

  .coder-image img {
    width: 100%;
  }

  .main-body-text {
    width: 323px;
    height: 146px;
  }

  .main-body-text p {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    margin-left: 26px;
  }

  .holding-more-news {
    margin-top: 20px;
  }

  .holdingimage {
    flex-direction: column;
  }

  .main-body {
    display: flex;
    flex-direction: column;
    min-width: 330px;
    width: 100%;
    height: 1000px;
  }

  .block {
    width: 385px;
    height: 86px;
    margin-left: 32px;
    padding-top: 30px;
  }

  .block .title {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
  }

  .block .description {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
  }
} */

/* 

@media (min-width: 375px) and (max-width: 768px) {
  nav .search-box .search-input-class {
    display: none;
  }
  nav .search-box {
    background-color: green;
    background: grey;
    color: hotpink;
  }

  .eyecatch{
    width: 100%;

  }

  .main-body-heading{
    width: 100%;
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;
    color: #4F4F4F;
    height: 112px;
    width: 333px;
  }

  .coder-image img{
    width: 323px;
    height: 146px;
  }
} */

/* 
@media (min-width: 375px) and (max-width: 768px) {
  .footer-col {
    display: block;
    width: 100%;
    margin: 15px;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .copy-right {
    display: block;
    height: 100px;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .end-footer {
    display: block;
    flex: 3;
  }

  .end-footer .get-social-links {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .end-footer .social-links {
    margin-top: 10px;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .holdingimage {
    flex-direction: column;
  }

  .main-body {
    min-width: 330px;
    width: 100%;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .row {
    flex-direction: row;
    width: 50%;
  }
}


 @media (min-width: 375px) and (max-width: 768px){
  .collapse .dropdown {
    display: block;
  }

  .nav-bar {
    display: inline-flex;
  }

  .collapse ul li a {
    display: none;
  }

  .collapse .search {
    display: none;
  }

  .cart {
    display: none;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .subscribe-section {
    flex-direction: column;
  }
} */
